<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- font-awesome link for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
</head>
<body>
    <div class="container">
        <a href="https://drive.google.com/u/0/uc?id=1yWao8f86hZTZrJzYg7C39csQQQ10RbO6&export=download" download><i class="fas fa-download" style="background-color:#fafafa; color:darkgray; padding:5px 10px 5px 10px; float:right; margin:10px; border:1px solid darkgray; border-radius:4px;"></i></a><br>
        <iframe src="https://drive.google.com/file/d/1yWao8f86hZTZrJzYg7C39csQQQ10RbO6/preview" width="640" height="640"></iframe>
    </div>
    <!-- <iframe src="https://drive.google.com/file/d/1yWao8f86hZTZrJzYg7C39csQQQ10RbO6/preview?usp=sharing" title="Resume : Saurabh Gwari" height="900" width="100%" download> </iframe> -->
</body>
</html>